<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The THirsty Student</title>
    <link rel="stylesheet" href="/styling/about.css">
</head>
<body>
    <h1>About Thirsty Student Shop</h1>
    <p>We sell all sorts of drinks and luckily we will be able to open 3 new locations!!!!</p>
    <br>
    <br>
    <h2>Greenwich</h2>
    <p>Shop Manager: Anna</p>\
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2484.9608906056637!2d-0.0176650233817244!3d51.47723217180637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487602893c86dff9%3A0x95d9d6333d1e4443!2sGreenwich%20High%20Rd%2C%20London!5e0!3m2!1sen!2suk!4v1762293850905!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <br>
    <br>
    <br>
    <h2>Westminister</h2>
    <p>Shop Manager: Michael</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4967.799399189637!2d-0.14067372104500317!3d51.496708060602685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761e9fa9369cc3%3A0x78d9d3c62a00984e!2sHigh%20Rd%2C%20London!5e0!3m2!1sen!2suk!4v1762293984813!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <br>
    <br>
    <br>
    <h2>Stratford</h2>
    <p>Shop manager: Muna</p>
    <iframe src="https://www.google.com/maps/embed?pb=!4v1762294081203!6m8!1m7!1sUupOn-VUvzIYr5Nmg9DKCw!2m2!1d51.54118379605096!2d0.002319163147811677!3f201.2745908680643!4f-13.929367345047183!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</body>
</html>