<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Thirsty Student</title> --> <title><%= shopName %></title>   <!--Makes my title dynamic using shopData variable-->
</title> 
</head>
<body>
    <!-- <h1>Welcome to the Thirsty Student Shop</h1> -->  <h1>WElcome to <%= shopName %> Shop</h1>  
    <h2>Here are some things we sell:</h2>
    <ul>
        <li>Beer</li>
        <li>Wine</li>
        <li>Soft Drinks</li>
        <li>Milkshakes</li>
        <li>Hot Drinks</li>
    </ul>
</body>
</html>