<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Thirsty Student</title>
    <link rel="stylesheet" href="/styling/search.css">
</head>
<body>
    <h1>Search Page</h1>
    <p>Here you can search for drinks</p>

    <form action="/search_result" method="get">
        <input id="search_box" type="text" name="search_text">
        <input type="submit" value="OK">
    </form>
</body>
</html>